@import 'normalize.css';
@import "@devnomic/marquee/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwind-extensions';
@import "fonts.css";

:root {
  --font-family: 'Poppins', sans-serif;
  --spacing-5: 10px;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  user-select: none;

  margin: 0;

  font-family: var(--font-family), 'sans-serif';
}
